<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnDeprecation="true"
         failOnNotice="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="unit">
      <directory>test/unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>test/integration</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
